#*pandas import*

In [ ]:
import pandas as pd
print(pd.__version__)

1.5.3

#***Pandas.Series***

##1차원 구조의 *list*

In [16]:
data_1 = list('abcde')
print(data_1)
print("자료형 : ", type(data_1))

['a', 'b', 'c', 'd', 'e']
자료형 :  <class 'list'>

##*list()*   → *pandas.series()*

*list* 객체(**`data_1`**)를 시리즈로 변환

자료형 *dtype*은 *object*로 확인된다.

In [17]:
sr1 = pd.Series(data_1)
print(sr1)
print("자료형 : ", type(sr1))

0    a
1    b
2    c
3    d
4    e
dtype: object
자료형 :  <class 'pandas.core.series.Series'>

## *pandas.series* 원소 추출

시리즈 객체의 원소를 추출할때 *loc* 인덱서를 사용

대괄호 안에 원소의 순서를 나타내는 숫자를 입력

```python
# 1번째 순서를 나타내는 0을 입력 시
sr1.loc[0]
'''
a
'''
#출력
```

```python
# 2번째 순서를 나타내는 1부터
# 4번째 순서를 나타내는 3까지 입력 시
sr1.loc[1:3]
'''
1    b
2    c
3    d
'''
#출력
```

In [18]:
print(f"인덱스 0   : \n{sr1.loc[0]}\n")
print(f"인덱스 1~3 : \n{sr1.loc[1:3]}\n")

인덱스 0   :
a

인덱스 1~3 :
1    b
2    c
3    d
dtype: object

## *tuple()*  → *pandas.series()*

숫자 데이터로 구성된 *tuple* 형태의 1차원 벡터(**`data_2`**)를 시리즈로 변환

자료형 *dtype*은 *float64*로 확인된다.

In [19]:
data_2 = (1,2,3.14,100,-10)
sr2 = pd.Series(data_2)
print(sr2)

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

#*pandas.DataFrame*

##*dict() → pandas.DataFrame()*

1차원 구조의 시리즈를 여러 개 결합하면 데이터프레임을 만들 수 있다.

시리즈 2개를 원소로 갖는 딕셔너리(*dict_data*)를 정의하고 *DataFrame* 함수에 입력한다.

딕셔너리의 *Key*에 해당하는 값이 각 열의 이름, 딕셔너리의 *Value*에 해당하는 값은 시리즈가 된다.



```python
dict_data = {'c0':sr1,'c1':sr2}
'''
┌──────┬──────┐
│sr1         │sr2         │
├──────┼──────┤
│0    a      │0      1.00 │
│1    b      │1      2.00 │
│2    c      │2      3.14 │
│3    d      │3    100.00 │
│4    e      │4    -10.00 │
└──────┴──────┘
'''
df1 = pd.DataFrame(dict_data)
'''
    c0      c1 → 딕셔너리 키값
0   a     1.00
1   b     2.00
2   c     3.14
3   d   100.00
4   e   -10.00
   ↓      ↓
  sr1     sr2
'''
```

In [86]:
data_1 = list('abcde')
data_2 = (1,2,3.14,100,-10)

sr1 = pd.Series(data_1)
sr2 = pd.Series(data_2)
print(f"{sr1}\n\n{sr2}")

0    a
1    b
2    c
3    d
4    e
dtype: object

0      1.00
1      2.00
2      3.14
3    100.00
4    -10.00
dtype: float64

In [87]:
dict_data = {'c0':sr1,'c1':sr2}
df1 = pd.DataFrame(dict_data)
print(df1)
print(type(df1))

  c0      c1
0  a    1.00
1  b    2.00
2  c    3.14
3  d  100.00
4  e  -10.00
<class 'pandas.core.frame.DataFrame'>

##*DataFrame columns*

데이터프레임의 열 이름은 *columns* 속성으로 추출하며

딕셔너리 키(Key)인 '**`c0`**'와 '**`c1`**'이 데이터 프레임의 열 이름으로 변환된 것을 알 수 있다.

In [88]:
print(df1.columns)

Index(['c0', 'c1'], dtype='object')

*columns* 속성에 새로운 열 이름의 배열을 지정하는 방식으로 열 이름을 변경할 수 있다.

열 이름이 위치하는 순서대로 '**`c0`**'은 string, '**`c1`**'은 *number*로 변경



```python
df1.columns = ['string','number']
'''
  string    number → 열 이름
0      a      1.00
1      b      2.00
2      c      3.14
3      d    100.00
4      e    -10.00
↓
행 인덱스
'''
```

In [89]:
df1.columns = ['string','number']
print(df1)

  string  number
0      a    1.00
1      b    2.00
2      c    3.14
3      d  100.00
4      e  -10.00

##*DataFrame index*

행 인덱스는 정수 0부터 4까지 오름차순으로 자동 지정되며 *index* 속성으로 추출한다.

*len*을 사용할 경우 행 인덱스의 갯수 또한 확인 가능하다

In [90]:
print(df1.index)
len(df1.index)

RangeIndex(start=0, stop=5, step=1)

5

*index* 속성에 새로운 행 인덱스의 배열을 지정하여 다음과 같이 행 인덱스를 변경한다.

0~4 범위의 정수 값들이 새로운 문자열 값으로 바뀌는 것을 볼 수 있다.

In [91]:
df1.index = list(map(lambda x: f'r{x}', range(len(df1.index))))
print(df1.index)
print(df1)

Index(['r0', 'r1', 'r2', 'r3', 'r4'], dtype='object')
   string  number
r0      a    1.00
r1      b    2.00
r2      c    3.14
r3      d  100.00
r4      e  -10.00

*loc* 인덱서를 사용하면 *loc[행 인덱스, 열 이름]*형태로 입력하면 해당 위치의 원소를 추출한다.

다음과 같이 **`r2`**인덱스의 **`number`**열에 해당하는 데이터인 **`3.14`**를 추출한다.

In [92]:
print(df1.loc['r2','number'])

3.14

*loc*의 범위 지정 방법으로는 행 인덱스 옵션에 **`r2:r3`** 범위를 지정하고, 열 이름 옵션에 **`string:number`** 범위를 지정한다.

 **`r2`**부터  **`r3`**행이 선택 되고  **`string`**부터  **`number`**열까지 선택되어 다음과 같이 행 2개, 열 2개인 데이터프레임이 추출된다.

In [93]:
print(df1.loc['r2':'r3','string':'number'])
print(type(df1.loc['r2':'r3','string':'number']))

   string  number
r2      c    3.14
r3      d  100.00
<class 'pandas.core.frame.DataFrame'>

*loc*인덱서의 행 인덱스 옵션에  **`r2:r3`**범위를 지정하고 열 이름 옵션에  **`number`**열을 지정한다.

이 경우, 하나의 열이 추출되기 때문에 원소 2개를 갖는 시리즈가 추출된다.

In [94]:
print(df1.loc['r2':'r3','number'])
print(type(df1.loc['r2':'r3','number']))

r2      3.14
r3    100.00
Name: number, dtype: float64
<class 'pandas.core.series.Series'>

*loc*인덱서의 행 인덱스 옵션에  **`r2`**를 지정하고 열 이름 옵션에  **`string:number`**범위를 지정한다.

이 경우, 하나의 행이 추출되기 때문에 **`string`**과 **`number`**, 2개의 열을 갖는 시리즈가 추출된다.

In [95]:
print(df1.loc['r2','string':'number'])
print(type(df1.loc['r2','string':'number']))

string       c
number    3.14
Name: r2, dtype: object
<class 'pandas.core.series.Series'>

*loc*인덱서의 행 인덱스 옵션에 모든( *:* ) 행을 지정하고 열 이름 옵션에 **`string`**열을 지정한다.

**`string`**열의 데이터가 모두 추출되어 시리즈 객체가 추출된다.

In [96]:
print(df1.loc[:,'string'])
print(type(df1.loc[:,'string']))

r0    a
r1    b
r2    c
r3    d
r4    e
Name: string, dtype: object
<class 'pandas.core.series.Series'>

*loc*인덱서의 행 인덱스 옵션에  **`r2:r3`** 범위를 지정하고 열 이름 옵션에 모든( *:* ) 열을 지정한다.

 **`r2`**부터 **`r3`** 행에 대하여 모든 열이 선택되어 행 2개, 열 2개인 데이터프레임이 추출된다.

In [97]:
print(df1.loc['r2':'r3',:])
print(type(df1.loc['r2':'r3',:]))

   string  number
r2      c    3.14
r3      d  100.00
<class 'pandas.core.frame.DataFrame'>